<div class="container js-scroll-ref" id="compare-table-section" style="min-height: 750px; padding-top: 5rem; background-color: #FFF7CC;">
    <div class="section_header text-center mb-[12px] md:mb-[24px]" style="display: flex; justify-content: center; padding: 0rem 2rem 4rem;">
        <h4 class="font-arpona text-accent text-[24px] md:text-[40px] font-normal text-[#080A5C]" style="font-size: 33px; font-family: 'OPTICopperplate-Heavy'; color: rgb(248, 75, 33); text-align: center;">
            Not All Turmeric Is Created Equal
        </h4>
    </div>
  
    <!-- 📦 Scrollable Table Wrapper -->
    <div class="table-wrapper" style="overflow-x: auto; width: 100%;">
        <table style="min-width: 875.663px; min-height: 518.872px; border-collapse: separate; border-spacing: 0;">
            <thead style="max-height: 68px;">
                <tr>
                    <th class="sticky-left"></th>
                    <th style="max-width: 217px;">
                        <div class="brand_logo text-center">
                            <img src="https://cdn.shopify.com/s/files/1/0702/4427/0243/files/logo-web.png?v=1745996268" alt="Boring food logo" class="mx-auto block mb-[12px] md:mb-[19px]" style="max-width: 124.807px; max-height: 68.9487px;">
                        </div>
                    </th>
                    <th class="font-semibold-header text-center text-[12px] md:text-[16px]" style="width: 217.758px;">
                        <span class="header-title">Large Spice Companies</span>
                    </th>
                    <th class="font-semibold-header text-center text-[12px] md:text-[16px]" style="width: 217.758px;">
                        <span class="header-title">Small Niche Players</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th class="sticky-left">Curcumin</th>
                    <td><p class="font-semibold-column-one text-center">8-12%</p></td>
                    <td><p class="font-semibold text-center">1-2%</p></td>
                    <td><p class="font-semibold text-center">2-4%</p></td>
                </tr>
                <tr>
                    <th class="sticky-left">Bioavailability</th>
                    <td><p class="font-semibold-column-one text-center">20x with black pepper</p></td>
                    <td><p class="font-semibold text-center">Not improved</p></td>
                    <td><p class="font-semibold text-center">Not improved</p></td>
                </tr>
                <tr>
                    <th class="sticky-left">Pesticides</th>
                    <td><p class="font-semibold-column-one text-center">Pesticide Free</p></td>
                    <td><p class="font-semibold text-center">Unknown</p></td>
                    <td><p class="font-semibold text-center">Unverified</p></td>
                </tr>
                <tr>
                    <th class="sticky-left">Other Adulterants</th>
                    <td><p class="font-semibold-column-one text-center">No fillers, no lead, no EtO</p></td>
                    <td><p class="font-semibold text-center">Unknown</p></td>
                    <td><p class="font-semibold text-center">Unverified</p></td>
                </tr>
                <tr>
                    <th class="sticky-left">Proof</th>
                    <td><a href="https://drive.google.com/drive/u/0/folders/18TsTOgN3Pp7RjJrWKE9sxwneZc5uHwY-" class="font-semibold-column-one text-center" target="_blank">Reports verifiable</a></td>
                    <td><p class="font-semibold text-center">Undisclosed</p></td>
                    <td><p class="font-semibold text-center">Undisclosed</p></td>
                </tr>
                <tr>
                    <th class="sticky-left">Freshness</th>
                    <td><p class="font-semibold-column-one text-center">Harvest dates mentioned</p></td>
                    <td><p class="font-semibold text-center">No transparency</p></td>
                    <td><p class="font-semibold text-center">No transparency</p></td>
                </tr>
            </tbody>
        </table>
    </div>
  </div>
  <style>
    .header-title {
        font-weight: 700;
        color: rgb(248, 75, 33);
        font-family: 'Aesthet-Nova';
        font-size: 26.6667px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        line-height: 34px;
    }

    table:not([class]) td:nth-child(2),
    table:not([class]) th:nth-child(2) {
        background-color: #ffd700b0 !important /* light yellow */
    } 
    .sticky-left {
        width: 217px;
        font-size: 17.5472px;
        font-family: OPTICopperplate;
        background-color: #FFF7CC;
        position: sticky;
        text-align: center;
        left: 0;
        z-index: 10;
        border-right: 1px solid #ddd;
        box-shadow: 2px 0 5px rgba(0,0,0,0.05);
    }
    
    .font-semibold-column-one {
        font-size: 17px;
        font-family: Aesthet-Nova;
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 0;
    }
    
    .font-semibold {
        font-size: 17px;
        font-family: Aesthet-Nova-Light;
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 0;
    }
    
    .table-wrapper {
        overflow-x: auto;
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    table:not([class]) td, table:not([class]) th {
      padding: 0;
      max-height: 68.95px;
      border: .1rem solid #5D57C5
      ;
      height: 68px;
      max-height: 68px;
    }
  
    /* Responsive tweaks */
    @media (max-width: 900px) and (min-width:500px) {
        .sticky-left {
            z-index: 2;
        }
    
        thead .sticky-left {
            position: sticky;
            left: 0;
            z-index: 1;
        }
        .font-arpona {
            font-size: 28px !important;
        }
        
      }
    @media (max-width:500px) {
      .sticky-left {
          z-index: 2;
      }

      .font-arpona {
            font-size: 28px !important;
        }
  
      thead .sticky-left {
          position: sticky;
          left: 0;
          z-index: 1;
      }
      table:not([class]) {
          min-width: 500px !important;
          min-height: 0 !important;
      }
  
      table:not([class]) td, table:not([class]) th {
          height: 50px !important;
          max-height: 60px !important;
      }
  
      .sticky-left {
          font-size: 12px !important;
          font-family: OPTICopperplate-light !important;
          text-align: center !important;
      }
  
      .header-title {
          font-weight: 700 !important;
          font-size: 17px !important;
          line-height: 28px !important;
          width: 100px !important;
          flex-wrap: wrap !important;
      }
  
      .font-semibold-column-one {
          font-size: 12px !important;
      }
      .font-semibold {
          font-size: 12px !important;
      }
  
      .font-semibold-header
      {
          width: auto !important;
      }
      div#compare-table-section
      {
          min-height: 650px !important;
      }
      
  }
  
    </style>